---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "colors";
@import "header";
@import "jumbotron";
@import "quickinfo";
@import "features";
@import "utvideo";
@import "minimast";
@import "guides";
@import "projnav";
@import "projpage";
@import "projectcards";
@import "download";
@import "roadmap";
@import "blog";
@import "post";
@import "usage";
@import "contact";
@import "footer";
@import "trylive";

.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}

.nav-header > a > svg {
  fill:#FFCC00; color:#151513; position: absolute; border: 0; right: 0;
}

.nav-header > a > svg .octo-arm {
  transform-origin: 130px 106px;
}

body._404 h1 {
  font-size: 10em;
  font-weight: 100;
  margin: 0;
}
