---
title: Download
permalink: /download/
layout: page
excerpt: Download the API Design Studio quickstart and get started fast!
---
{% assign releases = site.github.releases %}
{% assign ctag = site.version | prepend: "v" %}
{% assign casset = (site.version | prepend: "api-design-studio-") | append: "-quickstart.zip" %}
{% for release in releases %}
  {% if release.tag_name == ctag %}
    {% assign therelease = release %}
    {% for asset in release.assets %}
      {% if asset.name == casset %}
        {% assign theasset = asset %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<div class="container" id="download">
    <div id="content" class="row">
        <div class="col-lg-10">
            <h1 class="section-header">Getting Started (Quickstart)</h1>
            <p>The easiest way to get started with the API Design Studio is to download the quickstart (based on Tomcat 8) and fire it up!  All you need is to have Java (version 8) installed, and you're ready to rock.</p>
        </div>

        <div class="container">
            <div class="col-lg-7">
                <h3>Download & Install</h3>
                <ol>
                    <li>
                        <a href="{{ theasset.browser_download_url }}">API Design Studio {{ therelease.tag_name }}</a>
                    </li>
                    <li>Unpack the API Design Studio Quickstart zip</li>
                </ol>

                <h3>Run</h3>
                <ol>
                    <li>Start Tomcat</li>
                    <li>
                        Point your browser at the <a href="http://localhost:8080/" rel="nofollow" target="_blank">API Design Studio</a> and login with your <strong>GitHub</strong> credentials!
                    </li>
                </ol>

                <h3>Configure</h3>
                <p>
                    The quickstart distribution comes pre-configured with everything you need to get started.  There is <strong>no additional configuration</strong> for you
                    to perform!
                </p>
            </div>
            <div class="col-lg-5">
                <h3>Or simply try this...</h3>
                <pre class="code-block">
mkdir ~/api-design-studio-{{ site.version }}
cd ~/api-design-studio-{{ site.version }}
curl -L {{ theasset.browser_download_url }} -o {{ theasset.name }}
unzip {{ theasset.name }}
cd apiman-studio-{{ site.version }}
./bin/catalina.sh run
</pre>
            </div>
        </div>
    </div>
</div>