{% assign nav_segments = page.url | split: "/" %}
{% assign nav_segment = nav_segments[2] %}
<ul class="projnav nav">
    <li class="{% if nav_segment == blank %}active{% endif %}">
        <a href="{{ site.baseurl }}/datamodels">
            <span>About</span>
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
    </li>
    <li class="{% if nav_segment == 'usagejava' %}active{% endif %}">
        <a href="{{ site.baseurl }}/datamodels/usagejava">
            <span>Java Usage</span>
            <i class="fa fa-book" aria-hidden="true"></i>
        </a>
    </li>
    <li class="last {% if nav_segment == 'usagets' %}active{% endif %}">
        <a href="{{ site.baseurl }}/datamodels/usagets">
            <span>TypeScript Usage</span>
            <i class="fa fa-book" aria-hidden="true"></i>
        </a>
    </li>
</ul>
<ul class="projnav nav">
    <li>
        <a href="{{ site.github_datamodels_url }}">
            <span>Source Code</span>
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </li>
    <li class="last">
        <a href="{{ site.github_datamodels_url }}/issues">
            <span>Issue Tracker</span>
            <i class="fa fa-bug" aria-hidden="true"></i>
        </a>
    </li>
</ul>
