<div class="nav-header container-fluid">
    <div class="nav-logo"><a href="{{ site.baseurl }}/">API Design Studio</a></div>
    <div class="nav-menu">
        <ul>
            {% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}
            <li class="{% if first_segment == 'download' %}active{% endif %}"><a href="{{ site.baseurl }}/download/">Download</a></li>
            <li class="{% if first_segment == 'roadmap' %}active{% endif %}"><a href="{{ site.baseurl }}/roadmap/">Roadmap</a></li>
            <li class="{% if first_segment == 'blog' %}active{% endif %}"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li class="{% if first_segment == 'contact' %}active{% endif %}"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
            <li><a href="{{ site.github_url }}"><span class="fa fa-fw fa-github"></span></a></li>
        </ul>
    </div>
</div>