<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="X-Frame-Options" content="deny">
  <meta http-equiv='X-XSS-Protection' content="1; mode=block">
  <meta http-equiv='X-Content-Type-Options' content="nosniff">
  <meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  <meta http-equiv='Content-Security-Policy'
  content="default-src 'none' https://www.youtube.com https://www.google-analytics.com https://analytics.ossupstream.org/; style-src 'self' https://cdnjs.cloudflare.com; img-src 'self' https://static.jboss.org https://www.google-analytics.com https://analytics.ossupstream.org/; font-src 'self' https://cdnjs.cloudflare.com; script-src 'self' https://maxcdn.bootstrapcdn.com https://www.google-analytics.com https://analytics.ossupstream.org/ https://cdnjs.cloudflare.com; frame-ancestors 'none'; base-uri 'none'; form-action 'none';">

  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon" integrity="sha384-if9KH+NQ2dMhdrWu+INnJTcvG6riRakUAnbhecX5a7voubrapo7ouFGS+GYZ/N4P" crossorigin="anonymous"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.2/css/patternfly.min.css" integrity="sha256-rLJV3jlFRU38RbS+z4Ee+xgtP71nt4Tg+d1OTGmnJkw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.2/css/patternfly-additions.min.css" integrity="sha256-PBAEJlhJ/tR8v9h+haGuRcMU0RzFsbOCXxpeRbe5X6Y=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/rhbar.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/index.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.59.2/js/patternfly.min.js" integrity="sha256-MRTZJM/uZ2WKPGS/b50Et0nYC3sft1OP0F6H5OSXHs0=" crossorigin="anonymous"></script>

  {% seo %}

  <script src="{{ site.baseurl }}/js/index.js"></script>


  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.ossupstream.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>
