<div class="masthead-container">
    <div class="masthead">
        <div class="logo">
            <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/apicurio_headerlogo.png" class="project-logo" title="Apicurio"></a>
        </div>

        <nav id="main-nav" class="main-nav">
            <ul id="menu" class="menu">
                <li>
                    <a href="{{site.baseurl}}/registry/" class="{% if page.url contains '/registry/' %}active{% endif %}">Registry</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/studio/" class="{% if page.url contains '/studio/' %}active{% endif %}">Studio<sup>*</sup></a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/datamodels/" class="{% if page.url contains '/datamodels/' %}active{% endif %}">Data Models</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/codegen/" class="{% if page.url contains '/codegen/' %}active{% endif %}">Codegen</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/apicurito/" class="{% if page.url contains '/apicurito/' %}active{% endif %}">Apicurito</a>
                </li>
                <li class="nav-divider"></li>
                <li>
                    <a href="{{site.baseurl}}/blog/" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog</a>
                </li>
                <li>
                    <a href="{{site.baseurl}}/contact/" class="{% if page.url contains '/contact/' %}active{% endif %}">Contact</a>
                </li>
                <li>
                    <a href="{{ site.github_url }}" class="{% if page.url contains '/fork/' %}active{% endif %}">Fork</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
