{% capture first_segment %}{{ page.url | remove_first: "/" | split: "/" | first }}{% endcapture %}
<ul class="nav nav-tabs nav-tabs-pf">
    <li class="{% if first_segment == 'studio' %}active{% endif %}"><a href="{{ site.baseurl }}/studio">Studio</a></li>
    <li class="{% if first_segment == 'registry' %}active{% endif %}"><a href="{{ site.baseurl }}/registry">Registry</a></li>
    <li class="{% if first_segment == 'datamodels' %}active{% endif %}"><a href="{{ site.baseurl }}/datamodels">Data Models</a></li>
    <li class="{% if first_segment == 'apicurito' %}active{% endif %}"><a href="{{ site.baseurl }}/apicurito">Apicurito</a></li>
</ul>
