.announcement {
  margin-top: 4px;
  border-top: 1px solid #6e88bd;
  border-bottom: 1px solid #6e88bd;
  background-color: $announcement-bg-color;
  padding: 20px;
  text-align: center;
}

.announcement.announcement-warning {
  border-top: 1px solid #d39e00;
  border-bottom: 1px solid #d39e00;
  background-color: #fff3cd;
}

.announcement .info {
  display: inline;
  padding: 8px;
  font-size: 17px;
}

.announcement .warning {
  display: inline;
  padding: 8px;
  font-size: 17px;
  color: #856404;
}
