#blog {
  font-size: 14px;
  margin-top: 40px;
}

#blog h1.section-header {
  font-size: 32px;
}
#blog h3 {
  font-size: 20px;
  font-weight: 100;
}

#blog h1.section-header {
  color: $blog-list-header-color;
}

#blog .blog-post-item .title {
  color: $blog-list-post-title-color;
  margin-bottom: 5px;
}
#blog .blog-post-item .title a {
  color: inherit;
  text-decoration: none;
}
#blog .blog-post-item .title a:hover {
  color: $blog-list-post-title-hover-color;
  text-decoration: underline;
}
#blog .blog-post-item .date {
  color: $blog-list-post-metadata-color;
  font-size: 14px;
}
#blog .blog-post-item .author {
  color: $blog-list-post-metadata-color;
  margin-left: 15px;
  font-size: 14px;
}
#blog .blog-post-item .tags {
  color: $blog-list-post-metadata-color;
  margin-left: 15px;
  font-size: 14px;
}
#blog .blog-post-item .excerpt {
  font-size: 14px;
  margin-top: 8px;
  line-height: 22px;
}
#blog .blog-post-item .read-more {
  margin-bottom: 20px;
}
