#screenshot-carousel {
  margin-top: 175px;
  padding: 0px;
}

#screenshot-carousel .carousel-indicators {
  bottom: 5px;
}

#screenshot-carousel .carousel-indicators li {
  background-color: #999;
  border-color: #999;
}

#screenshot-carousel .carousel-control.left {
  background-image: none;
}

#screenshot-carousel .carousel-control.right {
  background-image: none;
}

#screenshot-carousel .carousel-control span {
  color: #999;
  margin-top: 205px;
}
