$scrub: #C0B3A0;
$navy: #22252C;
$mountain: #3F3250;

$nav-header-bg-color: darken($navy, 0%);
$nav-header-text-color: lighten(#afb1b2, 20%);
$nav-header-text-hover-color: #afb1b2;
$nav-header-border-color: #afb1b2;

$light-border-color: #afb1b2;

$jumbotron-bg-color: darken($mountain, 0%);
$jumbotron-tagline-1-color: lighten($scrub, 20%);
$jumbotron-tagline-2-color: lighten($scrub, 10%);

$quickinfo-bg-color: lighten($scrub, 22%);
$quickinfo-text-color: $nav-header-bg-color;
$quickinfo-label-color: lighten($nav-header-bg-color, 20%);

$feature-icon-color: lighten($nav-header-bg-color, 20%);
$feature-title-color: lighten($nav-header-bg-color, 20%);
$feature-summary-color: lighten($nav-header-bg-color, 20%);

$getting-started-header-color: lighten($nav-header-bg-color, 30%);
$getting-started-code-bg-color: $nav-header-bg-color;
$getting-started-code-text-color: $nav-header-text-color;
$getting-started-code-border-color: $light-border-color;

$contact-subtron-bg-color: lighten($scrub, 22%);
$contact-subtron-text-color: $navy;
$contact-subtron-border-color: $light-border-color;
$contact-contacts-text-color: $navy;

$blog-list-header-color: lighten($nav-header-bg-color, 30%);
$blog-list-post-title-color: lighten($nav-header-bg-color, 35%);
$blog-list-post-title-hover-color: lighten($nav-header-bg-color, 50%);
$blog-list-post-metadata-color: darken($light-border-color, 15%);

$blog-post-header-color: lighten($nav-header-bg-color, 30%);
$blog-post-post-title-color: lighten($nav-header-bg-color, 35%);
$blog-post-post-title-hover-color: lighten($nav-header-bg-color, 50%);
$blog-post-post-metadata-color: darken($light-border-color, 15%);

$video-title-color: lighten($nav-header-bg-color, 30%);
