$white: #FFFFFF;
$red1: #7F0D0D;
$red2: #CC0000;
$accent: #FFCC00;
$blue1: #0F6499;
$blue2: #06517F;
$navy: #22252C;
$grey1: #EAE8E8;
$grey2: #DCD7D7;
$grey3: #AFB1B2;
$grey4: #989898;
$grey5: #646464;
$grey6: #231F20;

$studio: #F2836B;
$registry: #758EBF;
$datamodels: #EABC4B;
$apicurio: #D073D8;

$nav-header-bg-color: darken($navy, 0%);
$nav-header-text-color: $grey2;
$nav-header-text-hover-color: $grey3;
$nav-header-border-color: $grey3;

$light-border-color: $grey2;

$jumbotron-bg-color: $grey6;
$jumbotron-tagline-1-color: $grey1;
$jumbotron-tagline-2-color: $grey2;

$quickinfo-bg-color: $grey2;
$quickinfo-text-color: $grey6;
$quickinfo-label-color: $grey6;

$announcement-bg-color: #b3c1dd;
$announcement-text-color: $grey6;
$announcement-label-color: $grey6;

$feature-icon-color: $blue2;
$feature-title-color: $blue2;
$feature-summary-color: $blue2;

$getting-started-header-color: lighten($nav-header-bg-color, 30%);
$getting-started-code-bg-color: $nav-header-bg-color;
$getting-started-code-text-color: $nav-header-text-color;
$getting-started-code-border-color: $light-border-color;

$contact-subtron-bg-color: $grey2;
$contact-subtron-text-color: $navy;
$contact-subtron-border-color: $light-border-color;
$contact-contacts-text-color: $navy;

$blog-list-header-color: lighten($nav-header-bg-color, 30%);
$blog-list-post-title-color: lighten($nav-header-bg-color, 35%);
$blog-list-post-title-hover-color: lighten($nav-header-bg-color, 50%);
$blog-list-post-metadata-color: darken($light-border-color, 15%);

$blog-post-header-color: lighten($nav-header-bg-color, 30%);
$blog-post-post-title-color: lighten($nav-header-bg-color, 35%);
$blog-post-post-title-hover-color: lighten($nav-header-bg-color, 50%);
$blog-post-post-metadata-color: darken($light-border-color, 15%);

$video-title-color: lighten($nav-header-bg-color, 30%);
