
$nav-header-bg-color: #0F1713;
$nav-header-text-color: #7BECB9;
$nav-header-text-hover-color: #B5FFDD;
$light-border-color: #3F8766;

$jumbotron-bg-color: lighten($nav-header-bg-color, 3%);
$jumbotron-tagline-1-color: $nav-header-text-hover-color;
$jumbotron-tagline-2-color: $nav-header-text-color;

$quickinfo-bg-color: lighten(#B5FFDD, 12%);
$quickinfo-text-color: $nav-header-bg-color;
$quickinfo-label-color: lighten($nav-header-bg-color, 20%);

$feature-icon-color: lighten($nav-header-bg-color, 30%);
$feature-title-color: lighten($nav-header-bg-color, 30%);
$feature-summary-color: lighten($nav-header-bg-color, 20%);

$getting-started-header-color: lighten($nav-header-bg-color, 30%);
$getting-started-code-bg-color: $nav-header-bg-color;
$getting-started-code-text-color: $nav-header-text-color;
$getting-started-code-border-color: $light-border-color;

$contact-subtron-bg-color: lighten($nav-header-text-hover-color, 12%);
$contact-subtron-text-color: $light-border-color;
$contact-subtron-border-color: $nav-header-text-hover-color;
$contact-contacts-text-color: $light-border-color;

$blog-list-header-color: lighten($nav-header-bg-color, 30%);
$blog-list-post-title-color: lighten($nav-header-bg-color, 35%);
$blog-list-post-title-hover-color: lighten($nav-header-bg-color, 50%);
$blog-list-post-metadata-color: darken($light-border-color, 15%);

$blog-post-header-color: lighten($nav-header-bg-color, 30%);
$blog-post-post-title-color: lighten($nav-header-bg-color, 35%);
$blog-post-post-title-hover-color: lighten($nav-header-bg-color, 50%);
$blog-post-post-metadata-color: darken($light-border-color, 15%);
