#contact {
}

#contact .subtron {
  text-align: center;
  padding: 40px;
  background-color: $contact-subtron-bg-color;
  border-bottom: 1px solid #eee;
}

#contact .subtron h1 {
  color: $contact-subtron-text-color;
  font-size: 42px;
}

#contact .contacts {
  margin-top: 40px;
  color: $contact-contacts-text-color;
}

#contact .contacts h2 {
  font-weight: 200;
  font-size: 26px;
}