#download {
  font-size: 14px;
  margin-top: 40px;
}

#download h1.section-header {
  font-size: 32px;
}
#download h3 {
  font-size: 20px;
  font-weight: 100;
}

#download h1.section-header, #download h3 {
  color: $getting-started-header-color;
}

#download .code-block {
  background-color: $getting-started-code-bg-color;
  color: $getting-started-code-text-color;
  border-color: $getting-started-code-border-color;
}

#download .nav-pills > li.active > a, #download .nav-pills > li.active > a:focus, #download .nav-pills > li.active > a:hover {
  background-color: #3F8766;
}