.features {
}

.features .feature {
  text-align: center;
}

.features .feature .icon {
  font-size: 90px;
  color: $feature-icon-color;
}
.features .feature .title {
  font-size: 22px;
  color: $feature-title-color;
}
.features .feature .summary {
  font-size: 14px;
  line-height: 22px;
  color: $feature-summary-color;
}
.features .feature .summary a {
  color: inherit;
  text-decoration: none;
}
.features .feature .summary a:hover {
  text-decoration: none;
  color: lighten($feature-summary-color, 40%);
}