.guide-list {
  margin-top: 15px;
}

.guide-list .guide-list-item {
  margin-bottom: 15px;
  padding-left: 15px;
}

.guide-list .guide-list-item .guide-list-item-title {
  font-size: 18px;
}

.guide-list .guide-list-item .guide-list-item-excerpt {
  font-size: 15px;
  line-height: 19px;
  padding-left: 10px;
}

.projpage.guide {

}

.projpage.guide .guide-title {
  font-size: 26px;
  font-weight: 400;
}

.projpage.guide p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.projpage.guide h2 {
  font-size: 24px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.guide h3 {
  font-size: 20px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.guide h4 {
  font-size: 16px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.guide table {
  font-size: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.projpage.guide table th {
  font-weight: 600;
  background-color: #eef;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 2px;
}

.projpage.guide table td {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.projpage.guide code {
  font-size: 14px;
  line-height: 20px;
}

.projpage.guide ol li, .projpage.guide ul li {
  font-size: 14px;
}

.projpage.guide blockquote {
  border-left-color: #bbc;
  background-color: #eef;
}
