$nav-header-height: 96px;

.nav-header {
  height: $nav-header-height;
  line-height: $nav-header-height;
  background-color: $nav-header-bg-color;
  border-bottom: 1px solid $light-border-color;
  color: $nav-header-text-color;
}

.nav-header .nav-logo {
  float: left;
  margin-left: 40px;
}

.nav-header .nav-logo a {
  font-family: 'Raleway', sans-serif;
  color: inherit;
  font-size: 42px;
}
.nav-header .nav-logo a:hover {
  text-decoration: none;
}

.nav-header .nav-menu {
  float: right;
}

.nav-header .nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-header .nav-menu ul li {
  position: relative;
  display: inline-block;
  margin-left: 28px;
  font-size: 15px;
  padding: 0;
}
.nav-header .nav-menu ul li:last-child {
  margin-left: 20px;
}
.nav-header .nav-menu ul li a {
  line-height: $nav-header-height;
  color: inherit;
  padding: 0;
}
.nav-header .nav-menu ul li a:hover {
  color: $nav-header-text-hover-color;
  text-decoration: none;
}
.nav-header .nav-menu ul li.active a {
  color: lighten($nav-header-text-hover-color, 8%);
}
.nav-header .nav-menu ul li a span.fa {
  line-height: $nav-header-height;
  font-size: 24px;
  margin-right: 40px;
  padding: 0;
}