.masthead-container {

  width: 100%;
  background-color: rgb(35, 31, 32);
  height: 96px;
  text-align: center;
  display: flex;
  justify-content: center;

  .masthead {

    width: 1180px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
    }

    .logo {
      width: 294px;
      flex-shrink: 0;
      margin-right: 20px;
    }

    .main-nav {
      flex: 1;

      .menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 10px;

        li {
          margin-left: 8px;
          a {
            font-size: 15px;
            text-transform: uppercase;
            color: white !important;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
          }
          a.active {
            font-weight: 800;
            color: rgb(242, 131, 107) !important;
            letter-spacing: -0.25px;
          }
        }

        li.nav-divider {
          border-left: 1px solid #ccc;
        }

      }

    }

  }

}
