.homepage-subproject-band {
  text-align: center;

    h1 {
      clear: both;
      margin-top: 5rem;
      font-size: 3rem;
    }

  }

.contrib-block {
  padding-top: 8rem;

  @media screen and (max-width: 993px) {
    width: 100%;
    padding-top: 4rem;
  }
}