
.jumbotron {
  background-color: $jumbotron-bg-color;
  margin: 0;
}

.jumbotron.studio {
  background-image: url(../images/jumbo-bg-studio.png);
}

.jumbotron.registry {
  background-image: url(../images/jumbo-bg-registry.png);
}

.jumbotron.datamodels {
  background-image: url(../images/jumbo-bg-datamodels.png);
}

.jumbotron.apicurito {
  background-image: url(../images/jumbo-bg-apicurito.png);
}

.jumbotron .logoimg {
  text-align: center;
  padding-bottom: 3rem;
}

.jumbotron .logoimg img {

  @media screen and (max-width: 993px) {
    width: 70%;
  }
}

.jumbotron .tagline {
  text-align: center;
  font-family: sans-serif;
  line-height: 4rem;
}

.jumbotron .tagline-1 {
  margin-top: 0px;
  font-size: 4rem;
  color: $jumbotron-tagline-1-color;

  @media screen and (max-width: 993px) {
  font-size: 3rem;
  }
}

.jumbotron .tagline-2 {
  font-size: 3.3rem;
  font-weight: 100;
  color: $jumbotron-tagline-2-color;

  @media screen and (max-width: 993px) {
  font-size: 2.3rem;
  }
}
