$jumbotron-height: 180px;

.jumbotron {
  height: $jumbotron-height;
  background-color: $jumbotron-bg-color;
  margin: 0;
  margin-top: 1px;
}
.jumbotron.studio {
  background-image: url(../images/jumbo-bg-studio.png);
}
.jumbotron.registry {
  background-image: url(../images/jumbo-bg-registry.png);
}
.jumbotron.datamodels {
  background-image: url(../images/jumbo-bg-datamodels.png);
}
.jumbotron.apicurito {
  background-image: url(../images/jumbo-bg-apicurito.png);
}

.jumbotron .tagline {
  text-align: center;
  font-family: sans-serif;
  line-height: 40px;
}
.jumbotron .tagline-1 {
  margin-top: 0px;
  font-size: 40px;
  color: $jumbotron-tagline-1-color;
}
.jumbotron .tagline-2 {
  font-size: 34px;
  font-weight: 100;
  color: $jumbotron-tagline-2-color;
}
