$jumbotron-height: 250px;

.jumbotron {
  height: $jumbotron-height;
  background-color: $jumbotron-bg-color;
  margin: 0;
}

.jumbotron .tagline {
  text-align: center;
}
.jumbotron .tagline-1 {
  margin-top: 15px;
  font-size: 40px;
  color: $jumbotron-tagline-1-color;
}
.jumbotron .tagline-2 {
  font-size: 34px;
  font-weight: 100;
  color: $jumbotron-tagline-2-color;
}
