.minimast {
  padding: 0;
  margin: 0;
  background-color: #afb1b2;
}
.minimast p {
  padding: 20px;
  line-height: 32px;
  font-size: 22px;
  color: #effeef;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0;
}
