#post {
  font-size: 15px;
  margin-top: 40px;
}

#post .post-header {
  margin-top: 25px
}

#post .post-header .title {
  color: $blog-list-post-title-color;
  font-size: 32px;
  margin-bottom: 5px;
}

#post .post-header .date {
  color: $blog-post-post-metadata-color;
  font-size: 14px;
}
#post .post-header .author {
  color: $blog-post-post-metadata-color;
  margin-left: 15px;
  font-size: 14px;
}
#post .post-header .tags {
  color: $blog-post-post-metadata-color;
  margin-left: 15px;
  font-size: 14px;
}

#post .post-content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  color: lighten(#0F1713, 5%);
}

#post .post-content h1 {
  color: $blog-list-post-title-color;
  margin-top: 40px;
  border-bottom: 1px solid #eee;
}

#post .post-content h2 {
  color: $blog-list-post-title-color;
  margin-top: 20px;
  font-size: 20px;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
  text-decoration: underline;
}