.project-cards {
  background-color: #eee;
  padding: 20px;
}

.project-cards .actions {
  width: 100%;
  text-align: right;
}

.project-cards .actions .btn-more .lbl {
  font-size: 15px;
}
.project-cards .actions .btn-more .arrow {
  font-size: 15px;
}

.project-cards .card-pf-body p {
  font-size: 16px;
}