
.projnav {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  margin-bottom: 10px;
}

.projnav li {
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

.projnav li.active {
  background-color: #eee;
}

.projnav li.last {
  border-bottom: none;
}

.projnav li i {
  float: right;
  line-height: 28px;
}
