.projpage {
  margin-top: 30px;
}

.projpage h1.section-header {
  margin-top: 25px;
  font-size: 32px;
  color: $blog-list-header-color;
}

.projpage h1.section-header.first {
  margin-top: 5px;
}

.projpage p {
  font-size: 14px;
  line-height: 20px;
}

.projpage .key-feature {
  margin-bottom: 10px;
}
.projpage .key-feature .name {
  font-size: 15px;
  font-weight: 600;
}
.projpage .key-feature .description {
  font-size: 14px;
  padding-left: 16px;
  color: #667;
  line-height: 16px;
}