.project-cards {
  background-color: #eee;
  padding: 20px;
}

.project-cards .actions {
  width: 100%;
  text-align: right;
}

.project-cards .actions .btn-more .lbl {
  font-size: 15px;
}
.project-cards .actions .btn-more .arrow {
  font-size: 15px;
}

.project-cards .card-pf {
  border-radius: 5px;
}

.project-cards .card-pf-body p {
  font-size: 16px;
}

.project-cards .card-pf-title {
  font-weight: bold;
  font-size: 19px;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}