.quick-info {
  border-bottom: 1px solid #ccc;
  background-color: $quickinfo-bg-color;
  padding: 20px;
  text-align: center;
}
.quick-info .info {
  display: inline;
  padding: 8px;
  font-size: 15px;
}
.quick-info .info-with-divider {
  border-right: 1px solid #ccc;
}
.quick-info .info .info-label {
  color: $quickinfo-label-color;
  font-weight: normal;
}
.quick-info .info .info-value {
  color: $quickinfo-text-color;
  font-weight: bold;
}
.quick-info .info .btn {
  font-size: 13px;
}