#roadmap {
  font-size: 15px;
}

#roadmap h1.section-header {
  font-size: 32px;
  color: $blog-list-header-color;
}


#roadmap .row.summary {
  margin-bottom: 40px;
}

#roadmap .section .section-header span.released-series {
  font-size: 15px;
  margin-left: 15px;
  color: rgb(153, 153, 153);
}

#roadmap .section .section-header span.current-series {
  font-size: 15px;
  margin-left: 15px;
}

#roadmap .section .section-header a.collapsed:before {
  content: "\f105";
}
#roadmap .section .section-header a:before {
  content: "\f107";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 16px;
  margin-left: 0px;
  text-align: center;
  vertical-align: 2px;
  width: 18px;
}

#roadmap .section h2 {
  color: rgb(170, 68, 68);
  padding-bottom: 3px;
  margin-top: 0px;
  border-bottom: 1px dotted rgb(170, 68, 68);
}
#roadmap .section.released h2 {
  border-bottom: 1px dotted rgb(153, 153, 153);
}
#roadmap .section h2 a {
  color: rgb(170, 68, 68);
  text-decoration: none;
  cursor: pointer;
}
#roadmap .section h2 a:hover {
}
#roadmap .section.released h2 a {
  color: rgb(153, 153, 153);
}
#roadmap .section.released h2 a:hover {
}
#roadmap .section.released .relnotes {
  margin-bottom: 35px;
}
#roadmap .section.released .relnotes h2 {
  color: rgb(153, 153, 153);
  border-bottom: 1px dotted rgb(153, 153, 153);
}

#roadmap .section .completed {
  color: #999;
}

#roadmap .section .in-version {
  color: #343;
  float: right;
}

#roadmap .section .release-notes {
}

#roadmap .section .release {
  width: 95%;
  margin-bottom: 35px;
}

#roadmap .section ul .headers {
  margin-bottom: 8px;
}

#roadmap .section ul .header {
  text-decoration: underline;
  font-size: 18px;
}

#roadmap .section .section-body {
  margin-left: 0;
  padding-left: 0;
}
