.projpage.usage {
}

.projpage.usage p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.projpage.usage h2 {
  font-size: 24px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.usage h3 {
  font-size: 20px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.usage h4 {
  font-size: 18px;
  text-shadow: 1px 1px 1px #abc;
}
