.projpage.usage {
}

.projpage.usage p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.projpage.usage h2 {
  font-size: 24px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.usage h3 {
  font-size: 20px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.usage h4 {
  font-size: 16px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.usage table {
  font-size: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.projpage.usage table th {
  font-weight: 600;
  background-color: #eef;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 2px;
}

.projpage.usage table td {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.projpage.usage code {
  font-size: 14px;
  line-height: 20px;
}

.projpage.usage ol li, .projpage.usage ul li {
  font-size: 14px;
}

.projpage.usage blockquote {
  border-left-color: #bbc;
  background-color: #eef;
}
