#ut-video {
  margin-top: 75px;
  background-color: #eeeeee;
  padding-bottom: 40px;
}

#ut-video .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#ut-video h1 {
  color: $video-title-color;
  font-size: 22px;
  font-weight: 400;
}

#ut-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
