<!DOCTYPE html>
<html lang="en">
  
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <div class="announcement announcement-moved">
        <div class="moved">
            <span class="fa fa-fw fa-exchange"></span>
            <span class="moved-text">This project has moved!</span> Apicurio Data Models is now part of
            <a href="{{ site.apitomy_url }}">Apitomy</a>.
            <a href="{{ site.apitomy_url }}/projects/data-models/">Go to Data Models on Apitomy
                <span class="fa fa-fw fa-arrow-right"></span></a>
        </div>
    </div>

    <div class="container projpage usage">
      <div class="row">
        <div class="col-md-3">
          {%- include datamodels/_projnav.html -%}
        </div>
        <div class="col-md-9">
          <h1 class="section-header first">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>

    {%- include footer.html -%}
  </body>

</html>
