<!DOCTYPE html>
<html lang="en">
  
  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <div class="announcement">
      <div class="info">
          <span class="fa fa-fw fa-info"></span>
          Apicurio Studio 0.2 has been deprecated (<a href="https://www.apicur.io/blog/2024/03/22/studio-1.0">more info here</a>).
      </div>
    </div>

    <div class="container projpage guide">
      <div class="row">
        <div class="col-md-12">
          <h1 class="guide-title">{{ page.title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ content }}
        </div>
      </div>
    </div>

    {%- include footer.html -%}
  </body>

</html>
